html {
  background: red;
  font-family: 'UnifrakturCook', cursive;
}
.visible-text {
  display: none;
}
.visible-img {
  display: none;
}
.clickable, .clickable2, .clickable3 {
  cursor: pointer;
  color: blue;
}
img {
  width: 50%;
  float: left;
}
h1 {
  font-size: 4vw;
}
p{
  font-size: 2vw;
}
